@import '../../styles/abstracts/_variables';
@import '../../styles/abstracts/_mixins';

.navContainer {
  display: flex;
  background: $white;
  max-width: 100%;
  width: max-content;
  box-shadow: $box-shadow-default;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacer-6px $spacer-2-8px;
  color: $secondary-500;
  font-weight: 900;
  text-transform: uppercase;
}

.nav {
  display: flex;
  // padding: $spacer-3px $spacer-1-4px;
  overflow-x: auto;
  background-color: $white;
  scroll-behavior: smooth;
}

.ul {
  position: relative;
  scroll-behavior: smooth;
  margin: 0;
  padding: $spacer-1-4px;
  // The full width come from display flex
  display: flex;
  gap: $spacer-1-4px;
  white-space: nowrap;
  list-style-type: none;
}

.li {
  padding: $spacer-3px $spacer-1-4px;
  background-color: $secondary-100;
  color: $secondary-800;
  font-weight: 700;
  text-transform: uppercase;
  display: block;

  transition: background-color 300ms ease-in-out;

  @include md {
    min-width: auto;

    &:hover {
      background-color: $white;
    }
  }

  border: none;
  text-decoration: none;

  &:hover {
    border: none;
  }
}

.active {
  background-color: violet;
}
