
@import '../../styles/abstracts/_variables';
@import '../../styles/abstracts/_mixins';

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: $spacer-1-4px;
}

.logoAndSearchBarContainer {
    display: flex;
    justify-content: flex-start;
    gap: $spacer-1-4px;
    padding-right: $spacer-14-56px;
}

.logo {
    display: flex;
}

.searchBarContainer {
    display: flex;
    align-items: flex-end;

    .searchBar {
        padding: $spacer-1-4px;
        background-color: $white;

        @include md {
            display: flex;
            gap: $spacer-1-4px;
        }

        .label {
            display: none;
            width: 100%;
            color: $secondary-500;
            font-weight: 900;

            @include md {
                display: block;
            }
        }

        input {
            padding: $spacer-1-4px;
            height: $spacer-5-20px;
            border: 1px solid $secondary-100;
            background-color: $secondary-100;
        }
    }

}

.navContainer {
    display: flex;
    background: $white;

    @include md {
        width: max-content;
        flex-grow: 0;
    }

    .viz {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacer-6px $spacer-2-8px;
        color: $secondary-500;
        font-weight: 900;
    }

    nav {
        display: flex;
        padding: $spacer-3px $spacer-1-4px;
        overflow: scroll;
        background-color: $white;

        ul {
            position: relative;
            margin: 0;
            padding: 0;
            // The full width come from display flex
            display: flex;
            gap: $spacer-1-4px;
            white-space: nowrap;

            li {
                padding: $spacer-3px $spacer-1-4px;
                background-color: $secondary-100;
                color: $secondary-800;
                font-weight: 700;
                text-transform: uppercase;
                list-style-type: none;

                @include md {
                    min-width: auto;
                }

                a {
                    border: none;
                }
            }
        }
    }
}
