
/* COLORS */
$primary-color: #0052CC;
$secondary-color: #6B7280;
$secondary-100: #E1E3E6;
$black: #000000;
$white: #FFFFFF;
$transparent: #E5E5E5;

/* SPACERS */
$spacer-3-12px: 0.75rem;
$spacer-4-16px: 1rem;
$spacer-6-24px: 1.5rem;
$spacer-10-40px: 2.5rem;
$spacer-12-48px: 3rem;
$spacer-16-64px: 4rem;