@import '../styles/abstracts/_variables';
@import '../styles/abstracts/_mixins';

.pageWrapper {
  padding: $spacer-3-12px;
  height: auto;
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.pageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $secondary-500;
  z-index: -1;
}
