@import '../../styles/abstracts/_variables';
@import '../../styles/abstracts/_mixins';

.nav {
  text-align: right;
  text-transform: uppercase;
}

.nav ul {
  display: inline-flex;
  gap: $spacer-1-4px;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: $spacer-1-4px;
  background-color: $white;
  list-style-type: none;
  position: relative;
}

.navItem::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: $box-shadow-default;
}

.navLink {
  padding: $spacer-1-4px $spacer-2-8px;
  border-bottom: none;
  font-weight: 700;
  color: $secondary-800;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
  text-decoration: none;
  height: $spacer-6-24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $secondary-100;
    border: none;
  }

  &::after {
    height: 0px;
  }
}

.active {
  background-color: $secondary-100;
}
