
@import '../../styles//abstracts/variables';

.headingLarge {
    padding-bottom: $spacer-10-40px;
}

.headingMedium {
    padding-top: $spacer-16-64px;
}

.headingLarge + .headingMedium {
    padding-top: 0;
}